@import url('https://fonts.googleapis.com/css?family=Aleo&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,700&display=swap');


$title-ff: Aleo, sans-serif;
$body-ff: 'Josefin Sans', sans-serif;
$btn-ff:  Aleo, sans-serif;

$body-color: #333333;
$nav-color: #0878af;
$light-grey-color: #e8e8e8;
$text-color: #fff;
$btn-color: #5474fd;
$menu-color: #5474fd;
$search-color: #5474fd;
$search-svg-hover-color:greenyellow;
$checkbox-color: #ff6363;
$like-color: #00a2ff;
$placeholder-color:#b4b4b4;
$bg-wots-color: #2d2f2f;
$footer-bg-color: #232323;
$in-color: #4d69e0;

$border-width: 1px;